.preview {
    margin-top: 276px;
}

.preview-container {
}

.preview-info {
    position: relative;
    text-align: left;

    &--title {
        margin-bottom: 20px;
        max-width: 267px;

        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
    }

    &--description {
        max-width: 220px;
        color: var(--color-grey-4);
    }

    &--links {
        display: flex;
        margin-top: 60px;
        width: 100%;
    }

    &--link {
        display: flex;
        flex: 1;
        max-width: 164px;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 120px;
        background: var(--primary-gradient);
        color: var(--preview-grey-5);
        transition: background-color var(--default-transition-ms), color var(--default-transition-ms);

        &:not(:last-child) {
            margin-right: 20px;
        }

        &_outlined {
            background: var(--color-grey-5);
            color: var(--color-green-4);
            border: 1px solid var(--color-green-4);
        }
    }
}

.preview-img {
    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    padding-top: 44px;
    min-height: 793px;
    max-width: 1340px;
    background: var(--color-grey-7);

    & > img {
        min-height: 400px;
        object-fit: cover;
    }
}

@include for-desktop-sm {
    .preview {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 675px;
        padding: 0;
        margin-top: initial;
        overflow-x: clip;
    }

    .preview-container {
        display: flex;
        height: 100%;
        margin-top: 80px !important;
        z-index: 1;
    }

    .preview-info {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;

        &--title {
            margin-bottom: 30px;
            max-width: 450px;
            font-size: 56px;
            line-height: 66px;
        }

        &--description {
            max-width: 330px;
        }

        &--link {
        }
    }

    .preview-img {
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1340px;
        min-height: initial;
        max-width: 1340px;
        padding-top: initial;
        border-radius: 20px;
    }
}
