-
  const previewInfoLink = 'https://app.c-block.io/create-contract';
  const previewFooterContent = `Smart contract is a piece of code which defines the conditions which all parties agreed to. It is stored in blockchain and can't be changed, this way users can be sure that the outcome is correct. \n\nWith our graphic interface and decentralized contract calling system anyone can easily create a smart contract for their specific needs and be sure that it will work - no matter what`;

section.section.preview
  div.preview-img
    img(src="./images/hands-preview-bg.png" alt="C-Block")
  div.container.preview-container
    div.preview-info
      h1.preview-info--title.primary-text-fill Smart-contract as a service
      p.preview-info--description.text-16-400 Smart contracts library, graphic interface, scheduled contract calling
      div.preview-info--links
        a.preview-info--link.text-18-500(href=previewInfoLink) Whitepaper
        a.preview-info--link.preview-info--link_outlined.text-18-500(href=previewInfoLink) Service
  div.container.preview-footer.bordered-block
    h3.section-title Smart contract
    p.preview-footer-content.text-16-400=previewFooterContent
    