-
  const previewInfoLink = 'https://beta.c-block.io/create-contract';

section.section.preview
  div.preview-img
    img(src="./images/hands-preview-bg.png" alt="C-Block")
  div.container.preview-container
    div.preview-info
      h1.preview-info--title.primary-text-fill Smart-contract as a service
      p.preview-info--description.text-16-400 Smart contracts library, graphic interface, scheduled contract calling
      div.preview-info--links
        a.preview-info--link.text-18-500(href=previewInfoLink) Whitepaper
        a.preview-info--link.preview-info--link_outlined.text-18-500(href=previewInfoLink) Service

    