doctype html
html
  include ../../includes/head
  link(rel="stylesheet", href="./styles/index.css")
  body
    include ../../includes/background/background
    include ../../includes/header/header
    main
      include ../../includes/preview/preview
      include ../../includes/advantages/advantages
      include ../../includes/steps/steps
      div.container
        h2.section-title.statistics-title
          span.primary-text-fill Analytics
      include ../../includes/product-page/components/statistics/statistics
      +statistics('landing-page section')
      include ../../includes/team/team
      include ../../includes/partners/partners
    include ../../includes/footer/footer
    script(src="./bg.js" defer)
    script(src="./index.js" defer)