-
  var links = [
    {
      to: 'https://mobile.twitter.com/cblock_io',
      icon: 'icon-twitter',
    },
    {
      to: 'https://www.linkedin.com/company/c-block-io/',
      icon: 'icon-linkedin',
    },
    {
      to: 'https://discord.gg/mwyjGaPs',
      icon: 'icon-discord',
    },
  ]

mixin socialLinks(className)
  ul(class=`social-links ${className}`)
    each item in links
      li.social-link
        a(href=item.to target="_blank")
          i(class=item.icon)