mixin crosshair(className)
  svg(class=className width="51" height="51" viewBox="0 0 51 51" fill="none"
    xmlns="http://www.w3.org/2000/svg")
    path(d="M25.3693 45.6513C36.5705 45.6513 45.6508 36.571 45.6508 25.3698C45.6508 14.1687 36.5705 5.08838 25.3693 5.08838C14.1682 5.08838 5.08789 14.1687 5.08789 25.3698C5.08789 36.571 14.1682 45.6513 25.3693 45.6513Z" stroke="url(#paint0_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M25.3701 1L25.3701 4.84786" stroke="url(#paint1_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M1 25.3699H4.84786" stroke="url(#paint2_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M25.3701 49.7395L25.3701 45.8916" stroke="url(#paint3_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M49.7395 25.3699L45.8916 25.3699" stroke="url(#paint4_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M25.3696 29.1018C29.2127 29.1018 32.3281 25.9864 32.3281 22.1433C32.3281 18.3002 29.2127 15.1848 25.3696 15.1848C21.5266 15.1848 18.4111 18.3002 18.4111 22.1433C18.4111 25.9864 21.5266 29.1018 25.3696 29.1018Z" stroke="url(#paint5_linear_2035_37485)" stroke-width="2" stroke-miterlimit="10")
    path(d="M14.8232 35.1906C15.892 33.3392 17.4292 31.8017 19.2805 30.7327C21.1319 29.6637 23.232 29.101 25.3697 29.101C27.5075 29.101 29.6076 29.6637 31.4589 30.7327C33.3102 31.8017 34.8475 33.3392 35.9162 35.1906" stroke="url(#paint6_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M14.8232 35.1906C15.892 33.3392 17.4292 31.8017 19.2805 30.7327C21.1319 29.6637 23.232 29.101 25.3697 29.101C27.5075 29.101 29.6076 29.6637 31.4589 30.7327C33.3102 31.8017 34.8475 33.3392 35.9162 35.1906" stroke="url(#paint6_linear_2035_37485)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

    defs
      linearGradient(id="paint0_linear_2035_37485" x1="5.08789" y1="45.6514" x2="45.6508" y2="45.6514" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint1_linear_2035_37485" x1="25.3701" y1="4.84787" x2="26.3701" y2="4.84787" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint2_linear_2035_37485" x1="1" y1="26.3699" x2="4.84786" y2="26.3699" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint3_linear_2035_37485" x1="25.3701" y1="49.7395" x2="26.3701" y2="49.7395" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint4_linear_2035_37485" x1="45.8916" y1="26.3699" x2="49.7395" y2="26.3699" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint5_linear_2035_37485" x1="18.4111" y1="29.1018" x2="32.3281" y2="29.1018" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint6_linear_2035_37485" x1="14.8232" y1="35.1906" x2="35.9162" y2="35.1906" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
