mixin files(className)
  svg(class=className width="37" height="44" viewBox="0 0 37 44" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M27.25 43H2.75C2.28587 43 1.84075 42.8156 1.51256 42.4874C1.18437 42.1592 1 41.7141 1 41.25V9.75C1 9.28587 1.18437 8.84075 1.51256 8.51256C1.84075 8.18437 2.28587 8 2.75 8H20.25L29 16.75V41.25C29 41.7141 28.8156 42.1592 28.4874 42.4874C28.1592 42.8156 27.7141 43 27.25 43Z" stroke="url(#paint0_linear_2035_37177)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M8 8V2.75C8 2.28587 8.18437 1.84075 8.51256 1.51256C8.84075 1.18437 9.28587 1 9.75 1H27.25L36 9.75V34.25C36 34.7141 35.8156 35.1592 35.4874 35.4874C35.1592 35.8156 34.7141 36 34.25 36H29" stroke="url(#paint1_linear_2035_37177)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M9.75 27.25H20.25" stroke="url(#paint2_linear_2035_37177)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M9.75 34.25H20.25" stroke="url(#paint3_linear_2035_37177)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    defs
      linearGradient(id="paint0_linear_2035_37177" x1="1" y1="43.0001" x2="29" y2="43.0001" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint1_linear_2035_37177" x1="8" y1="36.0001" x2="36" y2="36.0001" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint2_linear_2035_37177" x1="9.75" y1="28.25" x2="20.25" y2="28.25" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
      linearGradient(id="paint3_linear_2035_37177" x1="9.75" y1="35.25" x2="20.25" y2="35.25" gradientUnits="userSpaceOnUse")
        stop(stop-color="#70FF00")
        stop(offset="1" stop-color="#D4FB50")
