// ------- Exo
@font-face {
  font-weight: 400;
  font-family: "Exo";
  src: url("../fonts/ExoRegular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Exo";
  src: url("../fonts/ExoBold.ttf");
}

// ------- Poppins
@font-face {
  font-weight: 400;
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

// ------- Inter
@font-face {
  font-weight: 400;
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.ttf");
}