// ---------- Typography ----------
.text-14-400 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.text-16-400 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.text-18-500 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.text-20-600 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.text-20-700 {
    font-weight: 700;
    font-size: 20px;
    line-height: 21.74px;
}

.text-24-400-32 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.text-24-400-48 {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
}

.text-32-400 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.text-36-400 {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
}

.text-56-400 {
    font-weight: 400;
    font-size: 56px;
    line-height: 66px;
}
