doctype html
html
  include ../../includes/head
  link(rel="stylesheet", href="./styles/product.css")
  body
    include ../../includes/product-page/components/background/background
    include ../../includes/header/header
    main
      include ../../includes/product-page/components/preview/preview
      include ../../includes/product-page/components/contracts/contracts
      include ../../includes/product-page/components/roadmap/roadmap
      include ../../includes/product-page/components/phones/phones
      include ../../includes/product-page/components/advantages/advantages
      include ../../includes/product-page/components/afterwords/afterwords
    include ../../includes/product-page/components/footer/footer
    script(src="./product.js" defer)
    script(src="./slider.js" defer)