-
    var previewFooterContent = `A Smart-Contract is a piece of code which defines the conditions in which all parties agree to. It is stored in the blockchain and cannot be changed altered or manipulated, this way users can be sure that the outcome is correct and true to the math. With our user-friendly interface and decentralized contract calling system, we designed a User experience that enables anyone to easily create and deploy a smart contract that suits their specific needs and be guaranteed that it will do what it is designed to do, every single time.`;
section.container.preview-footer.bordered-block
    h3.section-title Smart contract
    p.preview-footer-content.text-16-400=previewFooterContent