doctype html
html
  include ../../includes/head
  link(rel="stylesheet", href="./styles/plug.css")
  body
    main.plug
      img(src="./images/logo.svg" alt="C-block").plug-logo
      h1.plug-title.primary-text-fill Coming soon
