footer.footer
  div.footer-container
    include ../../../../components/logo/logo
    +logo('footer-logo')
    div.footer-links.text-16-400
      a(href="#" target="_blank") Privacy Policy
      span |
      a(href="#" target="_blank") Terms of Service

    p.footer-copyright.text-16-400 © Copyright C-BLOCK 2022