img(class="bg-lines-1__light" src="./images/preview-lines--light.svg")
img(class="bg-lines-2__light" src="./images/preview-lines--light.svg")
img(class="bg-lines-3__light" src="./images/preview-lines--light.svg")

img(class="bg-lines-1__dark" src="./images/preview-lines--dark.svg")
img(class="bg-lines-2__dark" src="./images/preview-lines--dark.svg")
img(class="bg-lines-3__dark" src="./images/preview-lines--dark.svg")
