.contracts {
    & > .section-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        max-width: 1000px;

        @include for-desktop-sm {
            font-size: 36px;
            line-height: 48px;
        }
    }

    margin-top: 150px;

    @include for-desktop-sm {
        margin-top: -100px;
    }
}

.contracts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    @include for-desktop-sm {
        margin-top: 62px;
    }

    &__item {
        margin: 10px;
        color: var(--section-description);
        width: 350px;
        height: 224px;
    }
    
    &__item-title-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 18px;
    }

    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: var(--gradient-1);
        border-radius: 50%;
        margin-right: 24px;
    }
}