-
    var title = "Roadmap";
    var roadmapCards = [
        {
            year: '2021',
            plans: [
                {
                    name: 'Complete',
                    text: 'Celo Grant',
                },
            ],
        },
        {
            year: '2022',
            plans: [
                {
                    name: 'In Progress',
                    text: 'Seed Funding',
                },
                {
                    name: 'In Progress',
                    text: 'Valora Wallet Integration',
                },
                {
                    name: 'In Progress',
                    text: 'c-DEX Manager® - Yield Farms',
                },
                {
                    name: 'In Progress',
                    text: 'Celo Wrapper® - 1:1 Token Wrapping',
                },
                {
                    name: 'In Progress',
                    text: 'Industry Specific Strategic Partnerships',
                }
            ],
        },
        {
            year: '2023',
            plans: [
                {
                    name: 'In progress',
                    text: 'c-PORT® Integration / Licensing',
                },
            ],
        },
    ];
section.section.roadmap
    h3.section-title=title
    div.roadmap-container.container
        button.roadmap-slider__control.roadmap-slider__prev-arrow
            i.icon-chevron
        button.roadmap-slider__control.roadmap-slider__next-arrow
            i.icon-chevron
        div.roadmap-slider
            each card in roadmapCards
                div.roadmap-card.bordered-block
                    h4.roadmap-card__title=card.year
                    each plan in card.plans
                        div.roadmap-card__plan
                            p.roadmap-card__plan-name.text-16-400=plan.name
                            p.roadmap-card__plan-text.text-14-400=plan.text
